<head>
	<%= stylesheet_link_tag "navbar", media: "all" %>
</head>
<header class="navbar sticky-top d-flex justify-content-center align-items-center py-3">
	<% unless current_page?(root_path) %>
		<div class="position-absolute start-0">
			<button class="border-0 ms-2" type="button" onclick="window.location.href='/'" style="background: none;">
				<img style="height: 50px; cursor: pointer;" src="<%= image_path("logo.png") %>" alt="Weather Wanderer Logo" data-bs-toggle="tooltip" title="Go to Home" style="cursor: pointer;">
			</button>
		</div>
	<% end %>
	<%= form_with url: location_path, method: :get, local: true, class: "rounded w-50" do %>
		<div class="input-group text-white">
			<%= select_tag :location, options_for_select([]), style: "width: 100%", class: "form-control bg-transparent text-light searchable-select", placeholder: "Enter a city or zip code" %>
		</div>
	<% end %>
	<% unless current_page?(map_path) %>
		<div class="position-absolute end-0">
			<button class="border-0 me-3" type="button" onclick="window.location.href='/map'" style="background: none;">
				<i class="bi bi-globe text-white h3"
					data-bs-toggle="tooltip"
					title="Go to Map" 
					style="cursor: pointer;">
				</i>
			</button>
		</div>
	<% end %>
</header>

<script>
	// Tooltips initialization
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })

	// Select2 initialization for location search
	document.addEventListener("DOMContentLoaded", function() {
		$('.searchable-select').select2({
			placeholder: "Enter a city or zip code",
			minimumInputLength: 1,
			ajax: {
				url: '/location/search',
				dataType: 'json',
				delay: 300, // Wait 300ms before sending the request
				data: function (params) {
					return {
						q: params.term
					};
				},
				processResults: function (data) {
					return { results: data.results };
				},
				cache: true
			},
			templateResult: function (result) {
				return $('<div><a href="' + result.url + '">' + result.text + '</a></div>')
			},
		});

		$('.searchable-select').on('select2:select', function (e) {
				var data = e.params.data;
				window.location.href = data.url;
		});
	});

</script>
