<!DOCTYPE html>
<html>
<head>
	<title>Weather Wanderer</title>
	<!-- Add your CSS and JavaScript files here -->
</head>
<body>
	<header>
		<!-- Add your header content here -->
	</header>

	<main>
		<h1>Weather Wanderer</h1>
		<h3>Your Global Weather Adventure</h3>
		<%= button_to 'Explore Now', map_path, method: :get, class: 'btn btn-primary' %>
		<!-- Add your main content here -->
	</main>

	<footer>
		<!-- Add your footer content here -->
	</footer>
</body>
</html>
