<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "home", media: "all" %>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<title>Weather Wanderer</title>
	<!-- particles.js -->
	<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</head>
<body>
	<main class="float d-flex justify-content-center text-center pt-5">
		<div id="particles-js"></div>
		<div class="mt-5">
			<img style="height: 35vh" src="<%= image_path("logo.png") %>" alt="Weather Wanderer Logo">
			<p class="display-1 text-white fw-semibold">Weather Wanderer</p>
			<p class="h4 text-white pb-5 fw-light" >Your Global Weather Adventure</p>
			<a href="/map" data-turbo="false" class="btn btn-outline-light btn-lg mt-2">
				Explore Now
			</a>
		</div>
	</main>
</body>
</html>
<!-- Floating particles -->
<script>
  particlesJS("particles-js", {
    particles: {
      number: {
        value: 100,
      },
      shape: {
        type: "circle",
      },
      opacity: {
        value: 0.5,
      },
      size: {
        value: 3,
      },
      move: {
        speed: 1,
      },
      line_linked: {
        enable: false
      }
		}
  });
</script>
