body {
  // TODO: make background color change based on weather
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #2e6a8b 10%, #dfdfd8 130%);
  background-size: cover;
  font-family: "Poppins", sans-serif;

  .navbar {
    background-color: #244558;
  }

  .crop-container {
    height: 25vh;
    overflow: hidden;
    position: relative;
    width: 25vh;
  }

  .crop-container img {
    height: 30vh;
    left: -5%;
    position: absolute;
    object-fit: cover;
    object-position: center top;
    top: -25%;
  }

  table {
    td {
      div {
        max-width: 240px;
      }
    }
  }

}
