<!DOCTYPE html>
<html>
<head>
  <title>World Map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>
<body class="">
  <%= render "shared/navbar" %>
  
  <div id="map" style="height: 91vh">
    <i class="bi bi-info-circle text-dark h3 position-absolute top-0 end-0 me-3 mt-2" 
      data-bs-toggle="tooltip" 
      data-bs-placement="bottom" 
      title="Drag the map to explore different regions and scroll to zoom.<br/>Click anywhere on the map to view the weather at that location." 
      data-bs-html="true" 
      style="cursor: pointer; z-index: 500;">
    </i>
  </div>
  <%= render "shared/flash_message" %>
</body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    if (document.getElementById("map")) {
      var map = L.map("map").setView([0, 0], 2); // Center the map on coordinates (0,0) and zoom level 2

      L.tileLayer("https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png", {
        attribution: `&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors & <a href="https://carto.com/attributions">CartoDB</a>`
      }).addTo(map);

      map.on("click", function(e) {
        window.location.href = `/weather?lat=${e.latlng.lat}&lng=${e.latlng.lng}`;
      });
    }

    // Help tooltip initialization
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    });
  });
</script>
