<!DOCTYPE html>
<html>
<head>
  <title>World Map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <!-- Bootstrap CSS (using the latest CDN link for 5.3.x) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Bundle with Popper (using the latest CDN link for 5.3.x) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap Icons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
</head>
<body class="position-relative">
  <div class="fixed-bottom ms-4 mb-4" style="width: 170px; z-index: 500;">
    <a href="/" class="btn btn-dark" style="width: 130px;">
      Back to Home
    </a>
    <i class="bi bi-info-circle text-dark h4 ms-2 pt-3" 
      data-bs-toggle="tooltip" 
      data-bs-placement="top" 
      title="Drag the map to explore different regions.<br/>Click anywhere on the map to view the weather at that location." 
      data-bs-html="true" 
      style="cursor: pointer;">
    </i>
  </div>
  <div id="map" style="height: 100vh; width: 100vw;"></div>
  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

</body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    if (document.getElementById("map")) {
      var map = L.map("map").setView([0, 0], 2); // Center the map on coordinates (0,0) and zoom level 2

      L.tileLayer("https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png", {
        attribution: `&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors & <a href="https://carto.com/attributions">CartoDB</a>`
      }).addTo(map);

      map.on("click", function(e) {
        window.location.href = `/weather?lat=${e.latlng.lat}&lng=${e.latlng.lng}`;
      });
    }

    // Help tooltip initialization
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    });
  });
</script>
